@font-face {
    font-family: "lmroman12";
    font-size: 48px;
    font-weight: bold;
    src: url("fonts/lmroman12-bold.otf") format("opentype");
}

@font-face {
    font-family: "montserrat";
    font-size: 48px;
    font-weight: bold;
    src: url("fonts/MontserratAlternates-Bold.otf") format("opentype");
}

@font-face {
    font-family: "kaushans";
    font-size: 48px;
    font-weight: bold;
    src: url("fonts/KaushanScript-Regular.otf") format("opentype");

}

@font-face {
    font-family: "opensans";
    font-size: 48px;
    font-weight: bold;
    src: url("fonts/OpenSans-Bold.ttf") format("opentype");
}

.container {
    background-color: #606D5D;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;

}

h1 {
    text-align: center;
    font-family: "kaushans";
    font-size: 50px;

}

.description {
    font-family: "montserrat";
}

body {
    background-color: #212B36;
    color: white;
    text-align: justify;
    margin: 0%;
}

nav {

    width: 100%;
    max-width: 1000%;
    margin: 0%;
    

}

nav ul li {
    
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    padding:0%;
}

a {
    
    font-family: "montserrat";
    font-size: 25px;
    text-decoration: none;
    color: white;
}
ul{
    padding: 0%;
}
h2 {
    background-color: rgb(109, 07, 26);
    font-family: "kaushans";
    color : white;
    border: 1px solid#333;
    padding:15px;
    margin:0%;
    

}
.go{
    background-color: #F7B801;
    display: flex;
    align-items: center;
    font-family: "kaushans";
    font-size: 18px ;
    color : black;
    height: 100px;
        
}
.png{
    height:100%;
    max-width: 100px;
    padding: 0%;
}
p{
    font-size: 20px;
    font-family: "opensans";
    
}
.escalade{
    background-color: #102B3F;
    display: flex;
    align-items: center;
    font-family: "kaushans";
    font-size: 18px ;
    color : white;

}